{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Comments</title>
</head>
<body>
    <a href="{% url "show_profile" %}">
        <button type="submit">Back</button>
    </a>
    <hr>
    {% if comments %}
        {% for i in comments %}
            {{ i.user.profile.user_name }}
    <br>
            {% if i.user.profile.profile_pic %}
                <img src="{{ i.user.profile.profile_pic.url }}" alt="profile pic" width="40" height="40" style="border-radius: 50%;">
            {% else %}
                <img src="{% static 'profile/images.jpg' %}" alt="default profile" width="40" height="40" style="border-radius: 50%;">
            {% endif %}
            {{ i.text }}
            <form method="post" action="{% url 'delete_comment' i.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
    <hr>
        {% endfor %}
    {% else %}
        <h4>you have no comment yet...</h4>
    {% endif %}

</body>
</html>